h2 {
    color: #f4f6f8;
    text-align: center;
    font-weight: bolder;
    margin: auto;
    padding: 20px;
    font-size: 30px;
    border: 1px solid white;
    box-shadow: 3px 6px 9px#a3cfdf;
    background-image: url("h1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .9;

}

p {
    font-size: 20px;
}

.info .img34 {
    float: right;
}

.info1 {
    margin-top: 15px;
    padding-top: 10px;
}

.info1 pre h3 {
    color: #4673a7;
}

.main h1 {
    color: #235e89;
    font-weight: bolder;
}