<div class="protfolio-wrap">
	<!-- Start Header Area -->
	<section class="banner-area relative" id="home">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row fullscreen d-flex align-items-center justify-content-center">
				<div class="banner-content col-lg-10">
					<h5 class="text-uppercase">Be the part of this Wonderful Journey</h5>
					<h1>
						NORTHERN AREA OF PAKISTAN
					</h1>
					
					<a href="/AreaDetails/ExploreMore#portfolio" class="primary-btn text-uppercase">Explore Now</a>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->
	<!-- Start portfolio-area Area -->
	<section class="portfolio-area section-gap" id="portfolio">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="menu-content col-lg-10">
					<div class="title text-center">
						<h1 class="mb-10">You'll fall in love with Chitral</h1>
						<p>Explore Chitral from Lawari to Shandur</p>
					</div>
				</div>
			</div>

			<div class="filters-content">
				<div class="row grid">
					<div class="single-portfolio col-sm-4 all corporate">
						<div class="item">
							<a target="_blank"><img class="img" src="~/img/p1.jpg" alt="Shahi Masjid"></a>
							<div class="p-inner">
								<h4><a  target="_blank">Shahi Masjid</a></h4>
								<div class="cat">Chitral</div>
							</div>
						</div>
					</div>

					<div class="single-portfolio col-sm-4 all personal">
						<div class="item">
							<a target="_blank"><img src="~/img/p2.jpg" alt="Chitral Fort"></a>
							<div class="p-inner">
								<h4><a  target="_blank">Chitral Fort</a></h4>
								<div class="cat">Nogor Fort</div>
							</div>
						</div>
					</div>
					<div class="single-portfolio col-sm-4 all agency">
						<div class="item">
							<a target="_blank"><img src="~/img/p9.jpg" alt="Lawari"></a>
							<div class="p-inner">
								<h5><a href="./Pages-inside/Lawari.html" target="_blank">Lawari</a></h5>
								<div class="cat">Lawari Tunnel</div>
							</div>
						</div>
					</div>

					<div class="single-portfolio col-sm-4 all agency">
						<div class="item">
							<a target="_blank"><img src="~/img/p12.jpg" alt="Birmoghlast"></a>
							<div class="p-inner">
								<h5><a target="_blank">Birmoghlast</a></h5>
								<div class="cat">The National Park</div>
							</div>
						</div>
					</div>

					<div class="single-portfolio col-sm-4 all corporate">
						<div class="item">
							<a target="_blank"><img src="~/img/p5.jpg" alt="Qaqlast"></a>
							<div class="p-inner">
								<h4><a href="./Pages-inside/Qaqlast.html" target="_blank">Qaqlast</a></h4>
								<div class="cat">Booni Upper Chitral</div>
							</div>
						</div>
					</div>
					<div class="single-portfolio col-sm-4 all personal">
						<div class="item">
							<a target="_blank"><img src="~/img/p6.jpg" alt="Boroghil"></a>
							<div class="p-inner">
								<h4><a href="./Pages-inside/Borogil.html" target="_blank">Boroghil</a></h4>
								<div class="cat">Hindukush</div>
							</div>
						</div>
					</div>
					<div class="single-portfolio col-sm-4 all agency">
						<div class="item">
							<a target="_blank"><img src="~/img/p7.jpg" alt="Golen"></a>
							<div class="p-inner">
								<h5><a target="_blank">Golen</a></h5>
								<div class="cat">Lower Chitral</div>
							</div>
						</div>
					</div>
					<div class="single-portfolio col-sm-4 all portal">
						<div class="item">
							<a target="_blank"><img src="~/img/p10.jpg" alt="Kalash"></a>
							<div class="p-inner">
								<h5><a target="_blank">Kalash Valley</a></h5>
								<div class="cat">Bumborat</div>
							</div>
						</div>
					</div>
					<div class="single-portfolio col-sm-4 all corporate">
						<div class="item">
							<a target="_blank"><img src="~/img/p4.jpg" alt="Naghar"></a>
							<div class="p-inner">
								<h4><a  target="_blank">Naghar Fort</a></h4>
								<div class="cat">Naghar Baagh</div>
							</div>
						</div>
					</div>
					<div class="single-portfolio col-sm-4 all personal">
						<div class="item">
							<a target="_blank"><img src="~/img/p3.jpg" alt="Madaklasht"></a>
							<div class="p-inner">
								<h4><a  target="_blank">Madaklast</a></h4>
								<div class="cat">Madaklast</div>
							</div>
						</div>
					</div>
					<div class="single-portfolio col-sm-4 all agency">
						<div class="item">
							<a  target="_blank"><img src="~/img/p8.jpg" alt="Chitral"></a>
							<div class="p-inner">
								<h5><a  target="_blank">Chitral Town</a></h5>
								<div class="cat">Lower Chitral</div>
							</div>
						</div>
					</div>
					<div class="single-portfolio col-sm-4 all portal">
						<div class="item">
							<a  target="_blank"><img src="~/img/p11.jpg" alt="Shandur"></a>
							<div class="p-inner">
								<h5><a  target="_blank">Shandur</a></h5>
								<div class="cat">Shandur</div>
							</div>
						</div>
					</div>

				</div>
			</div>

		</div>
	</section>
	<!-- End portfolio-area Area -->
	<!-- Start service Area -->
	<section class="service-area section-gap relative" id="service">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="menu-content pb-60 col-lg-10">
					<div class="title text-center">
						<h1 class="mb-10 text-white">Let us make your stay the most memorable in Chitral</h1>
						<p>The food and drinks are the talks of the country</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End service Area -->
	<!-- Start services Area -->
	<section class="services-area pb-100">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<div class="single-service">
						<img class="img-fluid" src="~/img/s1.png" alt="">
						<h4>Best place for Camping and Hiking</h4>
						<p>
							Fresh air, good company a warm campfire and
							the best memories are made around the camp and
							let's wander where the WiFi is weak.

						</p>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="single-service">
						<img class="img-fluid" src="~/img/s2.png" alt="">
						<h4>Traditional Food</h4>
						<p>
							Pandir Muxi:
							<br>
							Cheese and crushed walnut kernel sandwiched between layers
							of wheat dough. Similarly, it is cooked in mini size steel oven.
							It is cooked in low heat.
						</p>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="single-service">
						<img class="img-fluid" src="~/img/s3.png" alt="">
						<h4>5-Star Hotels</h4>
						<p>
							People think being famous is so glamorous,
							but half the time you're in a strange hotel
							room living out of a suitcase.
							We know that you belong in this atmosphere. So we built this hotel for you.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End services Area -->
	<!-- Start review Area -->
	<section class="review-area section-gap" id="testimonial">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="menu-content pb-60 col-lg-10">
					<div class="title text-center">
						<h1 class="mb-10">How Our Customers felt for Us</h1>
						<p>Who are in extreme love with friendly &amp; inviting people</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="single-review">
						<img src="~/img/c1.png" alt="">
						<div class="title d-flex flex-row">
							<a><h4>David Malan</h4></a>
							<div class="star">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
							</div>
						</div>
						<p>
							It was a life Experience to visit such a beautiful cultural city.
						</p>
					</div>
					<div class="single-review">
						<img src="~/img/c3.png" alt="">
						<div class="title d-flex flex-row">
							<a ><h4>Sir Franke</h4></a>
							<div class="star">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
							</div>
						</div>
						<p>
							Just one Word - Incredible!
						</p>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="single-review">
						<img src="~/img/c2.png" alt="">
						<div class="title d-flex flex-row">
							<a ><h4>Muhammad Abdullah</h4></a>
							<div class="star">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-starchecked"></span>
								<span class="fa fa-star checked"></span>
							</div>
						</div>
						<p>
							Damm! I'm thinking of staying here in this World.
						</p>
					</div>
					<div class="single-review">
						<img src="~/img/c4.png" alt="">
						<div class="title d-flex flex-row">
							<a ><h4>MR JX</h4></a>
							<div class="star">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
							</div>
						</div>
						<p>
							Now, I am big fan of adventure. Thanks for such a gift to this world.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	